@font-face {
  font-family: "aregular";
  src: url("../src/assets/fonts/aeonik/AeonikTRIAL-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "alight";
  src: url("../src/assets/fonts/aeonik/AeonikTRIAL-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "abold";
  src: url("../src/assets/fonts/aeonik/AeonikTRIAL-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "amedium";
  src: url("../src/assets/fonts/aeonik/AeonikTRIAL-Regular.otf");
  font-weight: medium;
}

@import "tailwindcss";

body {
  background: #00050B;
  color: #E5F2FF;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "aregular";
}

.alight {
  font-family: "alight";
}
.aregular {
  font-family: "aregular";
}
.amedium {
  font-family: "amedium";
}
.abold {
  font-family: "abold";
}

.bg_image_1 {
  background: url('/images/oval.png');
  background-repeat: no-repeat;
  background-size: cover;
}